html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.flex-item {
  flex: 0 0 33.33%;
  overflow: hidden; /* Adjust as needed */
  max-width: 100%;
  /* Ensure there's no excessive padding or margin inside the flex-item */
}

.aa-DetachedSearchButton
{
  width: 140px !important;
  height: 30px !important;
  border-radius: 30px !important;
}